
/*колір основного тексту rgba(33, 33, 33, 1) */
/*вторичній колір тексту rgba(117, 117, 117, 1)*/
/*білий колір тексту footer, hero rgba(255, 255, 255, 1)*/
/* акцент синій rgba(33, 150, 243, 1)*/
 /* фон hero rgba(47, 48, 58, 1) */
 /* фон секции 3 (для index.html rgba(245, 244, 250, 1) */

    :root {
            --accent-color: #2196f3;
            --primary-text-color: rgba(33, 33, 33, 1);
            --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            --transition-duration: 250ms;
        
 }
 
 html{
    box-sizing: border-box;
 } 
*,
*::before,
*::after {
    box-sizing: inherit;
}

 body {
    color:var(--primary-text-color);
    background-color: #FFFFFF;
font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6, {
    padding: 0px;
    margin: 0px;
} 
    

ul {
    list-style: none;
}

a {
    text-decoration:none;
}

 /*  HEADER  */

header{
    border-bottom: 2px solid #ECECEC;
}
.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}
 .section {
    padding-top: 94px;
    padding-bottom: 94px;
 }
 .header-section
  {
    padding-top: 24;
    padding-bottom: 25;
    border-bottom: 3px solid #ECECEC;
 }

 /* --------------- logo------------ */
 .logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    display: inline-block;       
 }
 
.logo-partone
{
    color: rgba(33, 150, 243, 1); 
}
.logo-partsecond 
    {
    color:rgba(33, 33, 33, 1);
}
/* ----------------------nav------------- */
.navigation{
font-style: Medium;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: flex;
    
    
    
}
.list-site-nav {
    display: flex;
    margin-right: auto; 
    margin-left: 0px; 
    padding-left: 93px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.list-site-nav .site-nav:not(:last-child) {
 padding-right: 50px;
} 

.current-list {
    color: rgba(33, 150, 243, 1); 
    display: block;
    padding-top: 32px;
        padding-bottom: 32px;
} 
.current {

    padding-right: 50px;
    color: rgba(33, 150, 243, 1);
        cursor: pointer;
}
 .list-site-nav .current-list {
    color: var(--accent-color);
    position: relative;
}

.list-site-nav .current-list::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    top: 76px;

    background-color: currentColor;
    border-radius: 2px;
} 


.site-nav .portfolio {
    color: rgba(33, 33, 33, 1);
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        transition-property: transform;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
}
.site-nav .portfolio:hover,
.site-nav .portfolio:focus {
    color: rgba(33, 150, 243, 1);
    cursor: pointer;   
}

/*  -----------contact ---------------- */


.head-address {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-right: 50px;
}

.head-address .contact {
    color: var(--primary-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    display: flex;
    align-items: center;
}

.email-tel:nth-child(1) {
    margin-right: 30px;
}

.contact {
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.contact:hover .contact-icon,
.contact:focus .contact-icon {
    fill: var(--accent-color);
}

.contact-icon {
    fill: var(--primary-text-color);
    margin-right: 10px;

    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.contact-soc-icon {
    fill: rgba(117, 117, 117, 1);
    margin-right: 10px;
    transition-property: transform;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
}
.contact-soc-icon:hover,
.contact-soc-icon:focus {
       fill: rgba(33, 150, 243, 1);
        cursor: pointer;
}

/*  -------------------Page index-------------- */
/* HERO */
.hero {
    background-color: rgba(47, 48, 58, 1);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: 
    linear-gradient( 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4) 
        ),
    url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}
.hero-title {
    margin: auto;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-style: Black;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
    margin-bottom: 30px;
    width: 696px;  
}
.hero-button {
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
     font-size: 16px;
      line-height: 1.9;
    font-family: inherit;
    border-radius: 4px;
    letter-spacing: 0.06em;
    font-weight: 700;
    padding: 10px 32px;
    min-width: 216;
    border: 1px solid transparent;
    margin: 0, auto;
    cursor: pointer;
}

/* ---------MODAL ------------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--transition-duration) linear,
        visibility var(--transition-duration) linear;
}

 .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
} 

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) linear;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 40px;
}
.modal-title{
    width: 448px;
        height: 23px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
        margin-top: 0px;
}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-bottom: 10px;
        font-size: 12px;
        color: rgba(117, 117, 117, 0.5);
        padding-left: 14px;
}

.modal-input::placeholder{
font-size: 12px;
color: brown;

}
.modal-input:focus~.modal-icon {
    fill: var(--accent-color);
    transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
}
.modal-input:hover~.modal-icon {
    fill: var(--accent-color);
    transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
}
.modal-input:focus,
.modal-input:hover {
    border: 1px solid var(--accent-color);
    outline: 0;
    transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
}
.modal-input:not(:placeholder-shown):valid{
    background-color: hwb(120 0% 50%/0.302);
}
 .modal-input:not(:placeholder-shown):invalid {
     background-color: rgba(128, 28, 0, 0.302));
 }
.modal-field{
    text-align: left;
}
.input-wrap {
    position: relative;
}
.modal-icon {
position: absolute;
right: 420px;
top: 5px;
transform: translateY(50%);
}   
 
.modal-input::placeholder{
    font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
       
} 

input.modal-input{
    padding-left: 40px;
}
.form-comment {
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;

    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.form-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-comment:focus,
.form-comment:hover {
    border: 1px solid var(--accent-color);
    outline: 0;
    transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
}

.form-comment:not(:placeholder-shown) {
    color: #212121;
}
 .submit{
    width: 200px;
        height: 50px;
 
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #FFFFFF;
 }
.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    cursor: pointer;
}

.checkbox-label {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    color: var(--primary-text-color);

    margin-bottom: 30px;
    margin-top: 20px;

    align-items: center;
    justify-content: center;
    display: flex;
}

.checkbox-label>.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.checkbox-label>.visually-hidden:checked+.checkbox-icon {
    background-color: var(--accent-color);
    border: transparent;
}

.checkbox-icon {
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid var(--secondary-text-color);

    margin-right: 8px;
    margin-bottom: 4px;
}

.checkbox-link {
    color: var(--accent-color);
    margin-left: 4px;
    text-decoration: underline;
   
}

/* OUR ADVANTAGES */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.advantages{
    display: flex;
    gap: 30px;
    margin-bottom: 0px;
    
}

.container-icon{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: rgba(245, 244, 250, 1);
}

.advantages-caption {
    text-transform: uppercase;
    font-style: Bold;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}
.advantages-text {
    color: rgba(117, 117, 117, 1);
    font-style: Regular;
     font-size: 14px;
      line-height: 24px;
}
/* WHAT WE DO */
.section-what-we-do {
    padding-top: 0px;
    padding-bottom: 94px;
}
.what-we-do-caption {
    text-align: center;
    font-style: Bold;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    margin-top: 0px;
}
.list-what-we-do {
    
    display: flex;
    gap: 30px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.image-what-we-do {
    position: relative;
    display: flex;
}
.container-text{
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: rgba(63, 64, 80, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
}
.text-description{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.14;
    letter-spacing: 3%;
}




  /* ----------------------OUR TEAM  */

.section-team {
font-size: 16px;
line-height: 1.19p;
padding-top: 94px;
    padding-bottom: 94px;
background-color: rgba(245, 244, 250, 1);
}
.team {
display: flex;
    text-align: center;
    width: 270px;
}
.team-caption {
    font-style: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: center;
}
.team-list {
    margin-right: 30px;  
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list:last-child {
    padding-right: 0px;
    margin-right: 0px;
}
.team-list-caption {
    font-style: Medium;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 10;
        
}
.team-list-text {
    color: rgba(117, 117, 117, 1); 
    margin-bottom: 16px;
}
.team-soc-item{
    width: 44px;
    height: 44px;
}
.team-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: #FFFFFF;
    fill: rgba(175, 177, 184, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
} 

.team-soc-link:hover,
.team-soc-link:focus{
    background-color:#2196F3;
    fill: #FFFFFF;
}
    
.team-soc-link:hover .team-soc-icon {
            fill: #FFFFFF; }
.team-soc-link:hover .team-soc-icon {
                background-color: #2196F3;}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 0px;
    margin-bottom: 30px;
}
.list-customers{
    display: flex;
    gap: 30px;
    
}
.item-customers {
    width: calc((100% - 150px) / 6);
    height: 90px;
    
}
.link-customers{
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    fill: rgba(175, 177, 184, 1);
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.link-customers:hover,
 .link-customers:focus {
    fill: rgba(33, 150, 243, 1);
    border: 1px solid rgba(33, 150, 243, 1) ;
}

/*--------------------- footer */

.footer {
    background-color: rgba(47, 48, 58, 1);
    font-size: 14px;
        line-height: 2;
        padding-top: 60px;
        padding-bottom: 60px;
}
.footer-contact {
    display: flex;

}
.logo-partthird {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

address {
    font-style: normal;
}
.item {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.item-address {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 9px;
}
.item-mail {
    color: rgba(117, 117, 117, 1);
    margin-bottom: 9px;
}
.item-tel{
    color: rgba(117, 117, 117, 1); 
}

.footer-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}
.footer-soc-icon{
    fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #2196F3;  
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 0px;
    margin-bottom: 40px;
}
.footer-soc-item {
    width: 44px;
    height: 44px;
    border-radius: 4px ;
    fill: #FFFFFF;
}

.invite-footer {
    margin-left: 70px;
    margin-top: 0px;
   
}
.invite {
        margin-bottom: 20px;
        margin-top: 0px;
            width: 700;
            size: 14px;
            letter-spacing: 0, 3;

        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
           
}

.footer-form {
    width: 570px;
    height: 86px;
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
}

.footer-email-container {
    display: flex;
    flex-direction: column;
}
.footer-title{
    color: #FFFFFF;
    text-transform: uppercase;
    size: 14px;
        letter-spacing: 0, 3;
}
.footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
    background-color: inherit;
    color: #FFFFFF;
}

.button.subscribe {
    display: flex;
    align-items: center;
    padding-left: 29px;
    background-color: rgba(33, 150, 243, 1);
    color: #FFFFFF;
    width: 200px;
    height: 50px;
}

.footer-button-icon {
    margin-left: 10px;   
}
/* ____________________________Page Portfolio */

.list-button{
font-style: medium;
    font-size: 16px;
    line-height: 2;
    font-weight: 500;

    display: flex;
    justify-content: center;

    padding-left: 0;
    margin-bottom: 56px;
    margin-top: 0; 
}
.list-button li:not(:last-child) {
    padding-right: 8px; 
}

.button-project {
 color: var(--primary-text-color);
 background-color: rgba(245, 244, 250, 1);
font-family: inherit;
text-align: center;
border-radius: 4px;
padding: 6px 22px;
border: 1px solid transparent;
cursor: pointer;
transition-property: transform;
transition-duration: var(--transition-duration);
transition-timing-function: var(--transition-timing-function);
}

.button-project:hover,
.button-project:focus{
    color: rgba(245, 244, 250, 1);
background-color: rgba(33, 150, 243, 1);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
}
.button-project-all {
    color: rgba(245, 244, 250, 1);
        background-color: rgba(33, 150, 243, 1);
        font-family: inherit;
        text-align: center;
        border-radius: 4px;
        padding: 6px 25px;
            border: 1px solid transparent;
            min-width: 73px;
            height: 38px;
            cursor: pointer;
            transition-property: transform;
            transition-duration: var(--transition-duration);
            transition-timing-function: var(--transition-timing-function);
}
.prime{
    min-width: 125px;
    height: 38px;
}
.second {
min-width: 112px;
height: 38px;
}
.third {
    min-width: 103px;
    height: 38px;
}
.fourth {
    min-width: 130px;
    height: 38px;
}

.list-project
{
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    
}
.image-list {
    width: 370px;
      }

        .image-list:hover,
        .image-list:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
                        }
.image-list:hover .description::before,
.image-list:focus .description::before {
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
    transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
}
.image-list:hover .project-paragraph,
.image-list:focus .project-paragraph {
    transform: translateY(0);
    transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
}

.link-project{
    cursor: pointer;
}
.image {
    display: block;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    height: auto;
}

.description {
position: relative;
    overflow: hidden;
    background-color: rgba(33, 150, 243, 0.9);
}

.description::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: "";
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.project-paragraph {
    position: absolute;
    margin: 0;
    padding: 63px 24px;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #FFFFFF;
}

.about-project {
border-bottom: 1px solid #eeeeee;
border-left: 1px solid #eeeeee;
border-right: 1px solid #eeeeee;
}

.caption-project {
font-style: bold;
font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    margin-bottom: 4px;
    margin-top: 0px;
    margin-left: 24px;
    color: rgba(33, 33, 33, 1);
}
.text-project {
    color: rgba(117, 117, 117, 1);
        font-size: 18px;
        line-height: 1.9;
        margin-bottom: 20px;
        margin-left: 24px;
        margin-top: 0px;
}




