

.list-button {
    font-style: medium;
    font-size: 16px;
    line-height: 2;
    font-weight: 500;

    display: flex;
    justify-content: center;

    padding-left: 0;
    margin-bottom: 56px;
    margin-top: 0;
}

.list-button li:not(:last-child) {
    padding-right: 8px;
}

.button-project {
    color: var(--primary-text-color);
    background-color: rgba(245, 244, 250, 1);
    font-family: inherit;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
    cursor: pointer;
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &:hover,
    &:focus {
        color: rgba(245, 244, 250, 1);
        background-color: rgba(33, 150, 243, 1);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
    }
}


.button-project-all {
    color: rgba(245, 244, 250, 1);
    background-color: rgba(33, 150, 243, 1);
    font-family: inherit;
    text-align: center;
    border-radius: 4px;
    padding: 6px 25px;
    border: 1px solid transparent;
    min-width: 73px;
    height: 38px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.prime {
    min-width: 125px;
    height: 38px;
}

.second {
    min-width: 112px;
    height: 38px;
}

.third {
    min-width: 103px;
    height: 38px;
}

.fourth {
    min-width: 130px;
    height: 38px;
}

.list-project {
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;

}

.image-list {
    width: 370px;
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.image-list:hover .description::before,
.image-list:focus .description::before {
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.image-list:hover .project-paragraph,
.image-list:focus .project-paragraph {
    transform: translateY(0);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.link-project {
    cursor: pointer;
}

.image {
    display: block;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    height: auto;
}

.description {
    position: relative;
    overflow: hidden;
    background-color: rgba(33, 150, 243, 0.9);
    &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba(33, 150, 243, 0.9);
            transform: translateY(100%);
            transition: transform var(--transition-duration) var(--transition-timing-function);
        }
}

.project-paragraph {
    position: absolute;
    margin: 0;
    padding: 63px 24px;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #FFFFFF;
}

.about-project {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.caption-project {
    font-style: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    margin-bottom: 4px;
    margin-top: 0px;
    margin-left: 24px;
    color: rgba(33, 33, 33, 1);
}

.text-project {
    color: rgba(117, 117, 117, 1);
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-top: 0px;
}